{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMYM Mukkoottuthara</title>

   <!-- Favicons -->
   <link href="{% static 'img/logo1.png' %}" rel="icon">
   <link href="{% static 'img/logo1.png' %}" rel="apple-touch-icon">
   
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "assets_gallery/fonts/icomoon/style.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/magnific-popup.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/jquery-ui.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/lightgallery.min.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/bootstrap-datepicker.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/fonts/flaticon/font/flaticon.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/swiper.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/aos.css" %}">
  <link rel="stylesheet" href="{% static "assets_gallery/css/style.css" %}">


  <style>
    /* Custom CSS for the modal */
    .modal-content {
      background-color: #ffffff; /* Set the background color of the modal */
      color: #000000; /* Set the text color to black */
    }
  
    /* Style the input field text color */
    .modal-content input[type="text"],
    .modal-content input[type="file"] {
      color: #000000; /* Set the text color of input fields to black */
    }
  
    /* Style the modal header and close button color */
    .modal-header {
      background-color: #007bff; /* Set the header background color */
      color: #ffffff; /* Set the header text color to white */
    }
  
    /* Style the close button color */
    .modal-header .close {
      color: #ffffff; /* Set the close button color to white */
    }
  
    /* Style the modal body background color */
    .modal-body {
      background-color: #ffffff; /* Set the modal body background color */
    }
  </style>

  
</head>
<body>

<div class="site-wrap">
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar py-3" role="banner">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6 col-xl-2" data-aos="fade-down">
          <a href="{% url 'index' %}" class="logo me-auto me-lg-0">
            <img src="{% static 'img/logonew.png' %}" alt="SMYM" class="img-fluid" style="height:60px">
          </a>
        </div>
        <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
          <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
              <li><a href="{% url "index" %}">Home</a></li>
              <!-- <li class="has-children"> -->
               <li class="active"> <a href="{% url 'gallery' %}">Gallery</a></li>
                <!-- <ul class="dropdown">
                  <li><a href="#">Nature</a></li>
                  <li><a href="#">Portrait</a></li>
                  <li><a href="#">People</a></li>
                  <li><a href="#">Architecture</a></li>
                  <li><a href="#">Animals</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Travel</a></li>
                  <li class="has-children">
                    <a href="#">Sub Menu</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
                </ul> -->
              </li>
              <li><a href="{% url "index" %}#services">Services</a></li>
              <li><a href="{% url "index" %}#about">About</a></li>
              <li><a href="{% url "index" %}#contact">Contact</a></li>
              {% if user.is_superuser %}
                <li><a class="nav-link scrollto" id="logout" href="{% url 'logout' %}?next=/">Log Out ({{ user.username }})</a></li>
                
                {% elif user.registration.is_media_manager %}
                <li><a class="nav-link scrollto" href="{% url 'view_profile' %}"><i class="bi bi-person-circle"></i>&nbsp; My Profile</a></li>
                <li><a class="nav-link scrollto" href="{% url 'logout' %}?next=/" onclick="clearHistory()" id="logout-button"">Log Out ({{ user.first_name }})</a></li>
                
            
                {% elif user.is_authenticated %}
            <li><a class="nav-link scrollto" href="{% url 'view_profile' %}"><i class="bi bi-person-circle"></i>&nbsp;My Profile</a></li>
            <li><a class="nav-link scrollto" href="{% url 'logout' %}?next=/" onclick="clearHistory()" id="logout-button"">Log Out ({{ user.first_name }})</a></li>
            
            
            
            {% else %}

                <li><a class="nav-link scrollto" id="login" href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            </ul>
          </nav>
        </div>
        <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
          <div class="d-none d-xl-inline-block">
            <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
              <li>
                <a href="https://www.facebook.com/SMYM.Mukkoottuthara?mibextid=ZbWKwL" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              </li>
              <li>
                <a href="https://www.instagram.com/smymmukkoottuthara?igsh=anB1MTVwcWNma2c=" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              </li>
              <li>
                <a href="https://www.youtube.com/@SMYMMukkoottuthara" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
              </li>
            </ul>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="row" style="margin-top: 50px;">

      {% if user.registration.is_media_manager %}
        
      <div class="col-lg-4" style="height: 250px; width: 250px;">
        <div class="image-wrap-2">
          <div class="image-info">
            <h2 class="mb-3" style="color:red;">New Album</h2>
            <a href="#" class="btn btn-outline-white py-2 px-4" data-toggle="modal" data-target="#addAlbumModal">Add</a>
          </div>
        </div>
      </div>

      {% endif %}

      {% for album in albums %}
      <div class="col-lg-4 col-md-6 col-sm-12" style="height: 300px; width: 250px; margin-bottom:20px;">
        <div class="image-wrap-2" style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
          <div class="image-info">
            <h2 class="mb-3">{{ album.title }}</h2>
            <a href="{% url 'inner_page' album.id %}" class="btn btn-outline-white py-2 px-4">View Album</a>
          </div>
          <img src="{{ album.cover_image.url }}" alt="Image" class="img-fluid" style="max-width: 100%; max-height: 100%; object-fit: cover;">
        </div>
      </div>
      {% endfor %}
     
      <!-- More image columns go here -->
    </div>
  </div>

  <!-- Add Album Modal -->
  <div class="modal fade" id="addAlbumModal" tabindex="-1" role="dialog" aria-labelledby="addAlbumModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAlbumModalLabel">Add New Album</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data" action="{% url 'gallery' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
              <label for="cover_image">Cover Image</label>
              <input type="file" class="form-control-file" id="cover_image" name="cover_image" required accept=".jpg, .jpeg, .png, .gif">
              <small class="text-danger" id="coverImageError" style="display: none;">Please select a valid image file (JPG, JPEG, PNG, GIF).</small>
            </div>
            <button type="submit" class="btn btn-primary">Add Album</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static "assets_gallery/js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/jquery-ui.js" %}"></script>
  <script src="{% static "assets_gallery/js/popper.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/bootstrap.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/owl.carousel.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/jquery.countdown.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/swiper.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/aos.js" %}"></script>
  <script src="{% static "assets_gallery/js/picturefill.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/lightgallery-all.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/jquery.mousewheel.min.js" %}"></script>
  <script src="{% static "assets_gallery/js/main.js" %}"></script>

  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

  <!-- Initialize Bootstrap modal -->
  <script>
    $(document).ready(function () {
      $('#addAlbumModal').on('hidden.bs.modal', function () {
        // Clear the form when the modal is closed
        $(this).find('form')[0].reset();
      });
    });
  </script>

<script>
  document.getElementById('cover_image').addEventListener('change', function() {
    const fileInput = this;
    const errorElement = document.getElementById('coverImageError');
    const allowedFormats = ['jpg', 'jpeg', 'png', 'gif'];
    const selectedFile = fileInput.files[0];
  
    if (selectedFile) {
      const fileName = selectedFile.name;
      const fileExtension = fileName.split('.').pop().toLowerCase();
  
      if (allowedFormats.indexOf(fileExtension) === -1) {
        // Display the error message and clear the file input
        errorElement.style.display = 'block';
        fileInput.value = '';
      } else {
        errorElement.style.display = 'none';
      }
    }
  });
</script>  

</body>
</html>
