{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
  body {
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
  }

  .card {
    max-width: 430px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    border: 2px solid #000000;
    border-radius: 15px;
    overflow: hidden;
  }

  .card-header {
    background: linear-gradient(to right, #1A42C9, #78C723);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
  }

  .card-body {
    text-align: center;
    padding: 20px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #fff;
  }

  .card-title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ff0000;
  }

  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .emblem {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .signature {
    width: 80px;
    height: 80px;
    object-fit: fit;
    margin-bottom: 2px;
  }

  .seal {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #ffcc00;
    border-color: #ffcc00;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #ff9900;
    border-color: #ff9900;
  }

  .card-body-with-background {
    background-image: url('img/about_3.jpg');
    background-size: cover;
    background-position: center;
  }

  .id-card-container {
    display: none;
  }
  {% comment %} td{
    padding-left:20px;
  } {% endcomment %}

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  td:first-child {
    font-weight: bold;
  }
  #viewGuidelinesBtn {
    float: right;
    margin-top: 3px;
    margin-bottom:10px;
    border: none;
    background-color: red;
    color:white;
  }
</style>

<section class="inner-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center mt-3">
          <button class="btn btn-primary" id="viewIdCardBtn">View ID Card</button>
        </div>
        <!-- Display Profile Information -->
        <div class="card" id="profile-container">
          <div class="card-body">
            <!-- Display Profile Picture -->
            <div class="mb-3 text-center">
              {% if user_profile.profile_picture %}
              <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle avatar">
              {% else %}
              <!-- Display Profile Picture Upload Form -->
              <h5 class="card-title">Upload Profile Picture</h5>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="profile_picture" accept="image/*" class="form-control" onchange="this.form.submit()">
              </form>
              <button class="" id="viewGuidelinesBtn">View Guidelines</button>
              {% endif %}
            </div>

            <!-- Display other profile information here -->
           
            <table style="text-align:left;"> 
              <tr>
                <td>Full Name</td>
                <td>:   {{ user_profile.user.get_full_name }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>:   {{ user_profile.user.email }}</td>
              </tr>
              <tr>
                <td>House Name</td>
                <td>:   {{ user_profile.user.registration.house_name }}</td>
              </tr>
              <tr>
                <td>Prayer Group</td>
                <td>:   {{ user_profile.user.registration.prayer_group }}</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>:   {{ user_profile.user.registration.date_of_birth }}</td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>:   {{ user_profile.user.registration.gender }}</td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td>:   {{ user_profile.user.registration.phone_number }}</td>
              </tr>
            </table>
          
          </div>
        </div>

                <!-- Virtual ID Card Section -->
        <div class="card id-card-container" style="display: none; background: url('{% static "img/id_back.jpg" %}') center center/cover no-repeat;">
          {% if user_profile.admin_approval %}
          <!-- Display ID Card details here -->
          <div class="card-header text-white">
            SMYM MUKKOOTTUTHARA
          </div>
          <div class="card-body text-center">
            <!-- Display ID Card details here -->
            <!-- You can customize this based on your requirements -->
            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle avatar border-black-outline"style="width: 150px; height: 150px; object-fit: cover; margin-bottom: 10px;">
            <h4 class="card-title" style="font-family: cursive;">{{ user_profile.user.get_full_name }}</h4>
            {% if user.registration.is_media_manager %}
            <p class="card-text" style="font-size:18px;"><b>Media Coordinator</b></p>
            {% else %}
            <p class="card-text" style="font-size:18px;"><b>Member</b></p>
            {% endif %}
            <p class="card-text">St. Thomas Church Mukkoottuthara</p>
            <table>
            <tr>
            <!-- Additional images for seal, logo, and signature -->
           <td> <img src="{% static "img/seal.png" %}" alt="Seal" class="seal"></td>
           <td><img src="{% static "img/signature.png" %}" alt="Signature" class="signature">
          <br><p style="font-size:smaller;">Director</p></td>
           <td> <img src="{% static "img/logo1.png" %}" alt="Logo" class="emblem"></td>
            
            </tr>
          </table>
          <p class="card-text" style="font-size: smaller" >ID: {{ user_profile.virtual_id }}</p>
          </div>
          {% else %}
          <!-- Display message if ID Card is not approved by admin -->
          <div class="alert alert-warning text-center" role="alert">
            
          Your ID card awaits approval from the admin.
          Please update your profile picture for the ID card if it has not been done already.

          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Include jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    // Set initial state
    var isProfileVisible = true;

    $("#viewIdCardBtn").click(function () {
      // Toggle visibility of the profile and ID card containers
      $("#profile-container, .id-card-container").toggle();

      // Update button text based on the current state
      if (isProfileVisible) {
        $("#viewIdCardBtn").text("View Profile");
      } else {
        $("#viewIdCardBtn").text("View ID Card");
      }

      // Toggle the state
      isProfileVisible = !isProfileVisible;
    });

  $("#viewGuidelinesBtn").click(function () {
    var guidelinesMessage = 'Image Requirements:\n' +
                            '1. Ensure the photo is clear, well-lit, and in color.\n' +
                            '2. The image should be in a standard passport-style format.\n' +
                            '3. Make sure your face is prominently visible without any obstructions (e.g., sunglasses, hats).\n\n' +
                            'File Format:\n' +
                            '1. Upload a JPEG or PNG file for the best quality.\n\n' +
                            'Resolution:\n' +
                            '1. Use a high-resolution image to ensure clarity and accuracy.\n\n' +
                            'Background:\n' +
                            '1. Choose a plain, neutral background for the photo.\n';

    // Display the guidelines in an alert box
    alert(guidelinesMessage);
    });
  });

</script>

<script>
  // Show success or error messages in an alert box if they exist
  {% if success_message %}
  alert('Success: {{ success_message }}');
  {% endif %}

  {% if error_message %}
  alert('Error: {{ error_message }}');
  {% endif %}
</script>

{% endblock %}
