<!-- quiz_create.html -->

{% extends 'base.html' %}
{% block content %}  
<body>

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
              <div class="d-flex justify-content-between align-items-center">
                <h2 style="align:center">Quiz</h2>
              </div>
            </div>
          </section>
          <!-- End Breadcrumbs -->
    <iframe src="https://docs.google.com/forms/d/1ixwi_rFBza3ik4m1zIoVgLxdoOMgaP2yhuY_rRTmNqQ/viewform?key=AIzaSyDPqaNQoZUc2lim_-wn4O_CnHLlqlogZIs" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</body>
{% endblock %}
