{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SMYM Mukkoottuthara</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   <!-- Favicons -->
   <link href="{% static 'img/logo1.png' %}" rel="icon">
   <link href="{% static 'img/logo1.png' %}" rel="apple-touch-icon">
 
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 
   <!-- Vendor CSS Files -->
   <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
 
   <!-- Template Main CSS File -->
   <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <style>
      /* Add some basic table styling */
      table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 20px;
      }
  
      table, th, td {
          border: 1px solid #ddd;
      }
  
      th, td {
          padding: 8px;
          text-align: left;
      }
  
      th {
          background-color: #f2f2f2;
      }
  
      /* Style the approve and delete buttons */
      button {
          background-color: #3498db;
          color: white;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
      }
  
      button.delete-button {
          background-color: #e74c3c;
      }
  
      /* Make the table responsive */
      @media screen and (max-width: 600px) {
          table {
              overflow-x: auto;
          }
      }
      /* CSS for User Profile Cards */
.user-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin:10px;
}

.user-profile-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(50% - 10px); /* Two cards per row */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.user-profile-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.user-profile-details {
    padding: 10px;
}

.user-profile-details h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
}

.user-profile-details p {
    margin: 8px 0;
    color: #777;
}

.user-profile-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.approve-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.status {
    color: #28a745;
    font-weight: bold;
}
  </style>
  
</head>

<body>
{% if user.is_superuser %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'index' %}" class="logo me-auto me-lg-0"><img src="{% static 'img/logonew.png' %}" alt="SMYM" class="img-fluid" style="height:100px"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
          <li class="dropdown"><a href="{% url 'index' %}#about"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'index' %}#about">SMYM Mukkoottuthara</a></li>
              <li class="dropdown"><a href="{% url 'by_law' %}"><span>SMYM</span> <i class="bi bi-chevron-right"></i></a>
                <!-- <ul>
                  <li><a href="#">SMYM-LOGO</a></li>
                  <li><a href="#">SMYM-FLAG</a></li>
                  <li><a href="#">SMYM-ANTHEM</a></li>
                  <li><a href="#">SMYM-SLOGAN</a></li>
                </ul> -->
              </li>
              <!-- <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            </ul>
          </li>
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'gallery' %}">Gallery</a></li>
            <li><a class="nav-link scrollto" href="{% url 'index' %}#services">Services</a></li>
            {% if user.is_superuser %}
            <li><a class="nav-link scrollto" href="{% url 'user_admin' %}">Users</a></li>
            <li><a class="nav-link scrollto" href="{% url 'logout' %}?next=/" onclick="clearHistory()" id="logout-button">Log Out({{ user.first_name }})</a></li>
            {% else %}
            <li><a class="nav-link scrollto" href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="{% url "donation_form" %}" class="get-started-btn scrollto">Support Us</a>

    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Manage And Approve Users</h2>
        </div>

      </div>
    </section>

    <!-- End Breadcrumbs -->

  <!-- Pending Approval Users -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>New Requests</h2>
    </div>
</section>
  </div>
<div class="user-profiles">
    {% for user_profile in pending_approval_users %}
        <div class="user-profile-card">
            <!-- Display user profile details here -->
            <p><strong>Name:</strong> {{ user_profile.user.first_name }} {{ user_profile.middle_name }} {{ user_profile.user.last_name }}</p>
            <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
            <p><strong>House Name:</strong> {{ user_profile.house_name }}</p>
            <p><strong>Prayer Group:</strong> {{ user_profile.get_prayer_group_display }}</p>
            <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth }}</p>
            <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
            <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
            <form method="post" action="{% url 'approve_user' user_profile.user.id %}">
                {% csrf_token %}
                <button type="submit" class="approve-button">Approve</button>
            </form>
            <form method="post" action="{% url 'delete_user' user_profile.user.id %}" id="delete-user-form">
                {% csrf_token %}
                <button type="button" class="delete-button" onclick="rejectUser({{ user_profile.user.id }})">Reject</button>
            </form>
        </div>
    {% endfor %}
</div>
</section>
<!-- Approved Users -->
<section class="breadcrumbs">
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Approved User Profiles</h2>
  </div>
</div>
</section>
<div class="user-profiles">
    {% for user_profile in approved_users %}
        <div class="user-profile-card">
            <!-- Display user profile details here -->
            <p><strong>Name:</strong> {{ user_profile.user.first_name }} {{ user_profile.middle_name }} {{ user_profile.user.last_name }}</p>
            <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
            <p><strong>House Name:</strong> {{ user_profile.house_name }}</p>
            <p><strong>Prayer Group:</strong> {{ user_profile.get_prayer_group_display }}</p>
            <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth }}</p>
            <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
            <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
          <form method="post" action="{% url 'delete_user' user_profile.user.id %}" id="delete-user-form">
              {% csrf_token %}
              <button type="button" class="delete-button" onclick="rejectUser({{ user_profile.user.id }})">Suspend</button>
          </form>
        </div>
    {% endfor %}
</div>

<!-- Rejected Users -->
<section class="breadcrumbs">
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Rejected User Profiles</h2>
  </div>
</div>
</section>
<div class="user-profiles">
    {% for user_profile in rejected_users %}
        <div class="user-profile-card">
          <div class="user-profile-details">
            <h3>{{ user_profile.user.first_name }} {{ user_profile.middle_name }} {{ user_profile.user.last_name }}</h3>
            <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
            <p><strong>House Name:</strong> {{ user_profile.house_name }}</p>
            <p><strong>Prayer Group:</strong> {{ user_profile.get_prayer_group_display }}</p>
            <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth }}</p>
            <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
            <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
            <p style="color:red;"><strong>Comments:</strong> {{ user_profile.comments }}</p>
            <form method="post" action="{% url 'approve_user' user_profile.user.id %}">
              {% csrf_token %}
              <button type="submit" class="approve-button" id="activate">Activate</button>
          </form>
        </div>
        </div>
    {% endfor %}
</div>

    

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3><img src="{% static 'img/logo1.png' %}" style="height:90px; width:80px;"></h3>
            <p>
              St Thomas Church <br>
              Mukkoottuthara,<br>
              PIN: 686510<br><br>
              <strong>Phone:</strong> +91 8078529691<br>
              <strong>Email:</strong> smymmukkoottuthara@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/SMYM.Mukkoottuthara" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/smymmukkoottuthara/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
              {% comment %} <a href="#" target="blank" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> {% endcomment %}
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#services">Services</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'parish_admin' %}">Parish Directory</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blood_admin' %}">Blood Bank</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'event' %}#">Upcoming Events</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Help</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
          </ul>
        </div>


      </div>
    </div>
  </div>

</footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    function confirmDelete() {
      const confirmation = confirm("Are you sure you want to delete this user?");
      if (confirmation) {
        document.getElementById("delete-user-form").submit();
      }
    }
  
    function rejectUser(userId) {
      const comment = prompt("Provide a reason for rejection:");
      if (comment !== null) {
        const form = document.createElement('form');
        form.method = 'post';
        form.action = '{% url 'delete_user' 0 %}'.replace('0', userId);
  
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = '{{ csrf_token }}'; // Replace with your CSRF token
  
        const commentInput = document.createElement('input');
        commentInput.type = 'hidden';
        commentInput.name = 'comments';
        commentInput.value = comment;
  
        form.appendChild(csrfInput);
        form.appendChild(commentInput);
  
        document.body.appendChild(form);
        form.submit();
      }
    }
  </script>
  {% endif %}

  <script>
    function clearHistory() {
        if (typeof history !== 'undefined' && typeof history.pushState !== 'undefined') {
            history.pushState(null, '', window.location.href);
            window.onpopstate = function () {
                history.go(1);
            };
        }
    }

      // Check if the page was reloaded due to the back button click
      window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            // Reload the page
            location.reload();
        }
    });
  </script>

</body>

</html>